/* src/components/Sidebar/Sidebar.css */

.sidebar {
    width: 250px;
    background-color: black;
    color: white;
    font-weight: bold;
    height: 100%;
    padding-top: 100px;
    position: fixed;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-btn {
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: left;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    outline: none;
}

/* Active Menu Item */
.sidebar-btn.active {
    width: 90%;
    background-color: lightgreen; /* Highlight active menu item */
}

.sidebar-btn:hover {
    width: 90%;
    background-color: lightgreen;
}

.admin-menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submenu {
    list-style: none;
    padding-left: 40px;
    background-color: black;
}

.submenu .sidebar-btn {
    padding: 15px 10px;
}

.submenu .sidebar-btn:hover {
    background-color: lightgreen;
}

.arrow {
    font-size: 12px;
    margin-left: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content.sidebar-open {
        margin-left: 0;
    }
}
